<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 footer-logo-box">
                <a href="/index.html">
                    <img src="./assets/img/logo.png" alt="Lábléc logó" class="footer-logo">
                </a>
            </div>
            <div class="col-lg-3 col-12 footer-links-box mb-lg-0 mb-4">
                <div>
                    <p class="footer-title">Oldalak</p>
                    <div>
                        <a href="/etlap.html" class="footer-link">Étlap</a>
                        <a href="/etterem.html" class="footer-link">Étterem</a>
                        <a href="/kert.html" class="footer-link">Kert</a>
                        <a href="/heti-menu.html" class="footer-link">Heti Menü</a>
                        <a href="/foglalas.html" class="footer-link">Foglalás</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 footer-links-box">
                <div>
                    <p class="footer-title">Nyitvatartás</p>
                    <pre>
Hétfő:     6:30-21:00
Kedd:      6:30-21:00
Szerda:    6:30-21:00
Csütörtök: 6:30-21:00
Péntek:    6:30-21:00
Szombat:  11:00-21:00
Vasárnap: 11:00-21:00
                    </pre>
                </div>
            </div>
            <div class="col-lg-3 col-12 footer-contact-box">
                <p class="footer-title">Kapcsolat</p>
                <div>
                    <a href="tel:+36301235678" class="footer-link">
                        <span class="material-symbols-outlined">
                            phone
                        </span>
                        &nbsp;
                        +36 30 123 5678
                    </a>
                    <a href="mailto:info@westernbite.hu" class="footer-link">
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        &nbsp;
                        info@westernbite.hu
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>